$font-integral: 'Integral CF', sans-serif;
$font-satoshi: 'Satoshi', sans-serif;

.customers-section {
  padding: 40px 0;

  @media (min-width: 900px) {
    padding: 80px 0;
  }

  .customers-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;

    @media (min-width: 900px) {
      margin-bottom: 40px;
    }
  }

  .customers-title {
    font-family: $font-integral;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 24px;
    color: #000;
    text-align: left;

    @media (min-width: 900px) {
      font-size: 48px;
      margin-bottom: 40px;
    }
  }

  .navigation-arrows {
    display: flex;
    gap: 8px;

    .arrow-btn {
      color: #000;
      padding: 8px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      svg {
        font-size: 24px;
      }
    }
  }

  .customers-loader {
    display: flex;
    justify-content: center;
    padding: 50px;
  }

  .customers-wrapper {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

  }

  .customer-card {
    min-width: 310px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 185px;

    @media (min-width: 900px) {
      min-width: auto;
      min-height: 240px;
      padding: 28px;
      flex: 1 0 25%;
    }

    .customer-rating {
      color: #FFC633;
      font-size: 20px;
    }

    .customer-name-row {
      display: flex;
      align-items: center;
      gap: 4px;

      .customer-name {
        font-family: $font-satoshi;
        font-weight: 700;
        font-size: 16px;
        color: #000;

        @media (min-width: 900px) {
          font-size: 20px;
        }
      }

      .verified-icon {
        color: #01AB31;
        font-size: 19px;
      }
    }

    .customer-text {
      font-family: $font-satoshi;
      font-size: 14px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.6);

      @media (min-width: 900px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}