@use "../../assets/fonts/fonts.scss";

$font-montserrat: 'Montserrat', sans-serif;

.brands {
  background-color: #000;
  padding: 35px 0;
  width: 100%;
  min-height: 122px;
  display: flex;
  align-items: center;
  color: #fff;

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 40px;

    @media (min-width: 900px) {
      justify-content: space-between;
      gap: 20px;
      flex-wrap: nowrap;
    }
  }

  &__logo {
    font-family: $font-montserrat;
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    @media (min-width: 900px) {
      font-size: 40px;
      letter-spacing: 4px;
    }
  }

  &--loading {
    justify-content: center;
    height: 122px;
  }
}