@use "../../assets/fonts/fonts.scss";
$font-montserrat: 'Montserrat', sans-serif;

.related-products {
  padding: 40px 0;

  @media (min-width: 900px) {
    padding: 64px 0;
  }

  &__title {
    &.MuiTypography-root {
      font-family: $font-montserrat;
      font-weight: 700;
      font-size: 32px;
      line-height: 1.1;
      text-align: center;
      color: #000000;
      margin-bottom: 32px;
      text-transform: uppercase;

      @media (min-width: 900px) {
        font-size: 48px;
        margin-bottom: 55px;
      }
    }
  }

  &__grid.MuiGrid-root {

    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 24px;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: 900px) {
      overflow-x: visible;
    }
  }

  &__item.MuiGrid-root {

    flex-shrink: 0;
    flex-basis: 75%;


    @media (min-width: 900px) {
      flex-shrink: 1;
      flex-basis: auto;
      width: auto;
    }
  }
}