@use "../../assets/fonts/fonts.scss";
$font-satoshi: 'Satoshi', sans-serif;

.products-list {
  width: 100%;
  padding-bottom: 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    &.MuiTypography-root {
      font-family: $font-satoshi;
      font-weight: 700;
      font-size: 24px;
      color: #000000;
      text-transform: capitalize;

      @media (min-width: 900px) {
        font-size: 32px;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__count {
    &.MuiTypography-root {
      display: block;
      font-family: $font-satoshi;
      color: rgba(0, 0, 0, 0.6);
      font-size: 16px;
    }
  }

  &__sort {
    display: none;

    @media (min-width: 900px) {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .MuiSelect-select {
      font-family: $font-satoshi;
      font-weight: 500;
      color: #000;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__filter-btn {
    &.MuiIconButton-root {
      background-color: #F0F0F0;
      border-radius: 50%;
      color: #000;

      @media (min-width: 900px) {
        display: none;
      }
    }
  }

  &__grid {
    margin-top: 16px;
  }

  &__item {
    display: flex;
    justify-content: center;
  }

  &__pagination-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 32px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__pagination {
    &.MuiPagination-root {
      width: 100%;

      .MuiPagination-ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
        padding: 0;

        .MuiPaginationItem-root {
          font-family: $font-satoshi;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.6);
          border-radius: 8px;
          margin: 0 4px;
          border: none;

          &.Mui-selected {
            background-color: #F0F0F0;
            color: #000000;
            &:hover {
              background-color: #e5e5e5;
            }
          }
        }

        li:first-of-type {
          margin-right: auto;
          .MuiPaginationItem-root {
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 8px 14px;
            border-radius: 8px;
            color: #000;
          }
        }

        li:last-of-type {
          margin-left: auto;
          .MuiPaginationItem-root {
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 8px 14px;
            border-radius: 8px;
            color: #000;
          }
        }
      }
    }
  }
}