.cart-items-section {
  &__block {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 14px;
    background-color: #fff;
  }
}

@media (min-width: 900px) {
  .cart-items-section {
    &__block {
      padding: 20px 24px;
    }
  }
}