@use "../../assets/fonts/fonts.scss";
$font-satoshi: 'Satoshi', sans-serif;

.product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;

  &__wrapper {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;

    &:hover .product-card {
      transform: translateY(-5px);
    }
  }

  &__image-container {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #F0EEED;
    border-radius: 20px;
    margin-bottom: 16px;
    overflow: hidden;

    @media (max-width: 600px) {
      border-radius: 13px;
      margin-bottom: 10px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    &.MuiTypography-root {
      font-family: $font-satoshi;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2;
      color: #000;
      margin-bottom: 8px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 1.2em;

      @media (min-width: 900px) {
        font-size: 20px;
      }
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 8px;
    margin-top: auto;

    .MuiRating-root {
      color: #FFC633;
      font-size: 18px;
      @media (max-width: 600px) {
        font-size: 15px;
      }
    }
  }

  &__rating-value {
    &.MuiTypography-root {
      font-family: $font-satoshi;
      font-size: 14px;
      color: #000;
      span {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &__price-block {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 32px;
  }

  &__price {
    &.MuiTypography-root {
      font-family: $font-satoshi;
      font-weight: 700;
      font-size: 20px;
      color: #000;

      @media (min-width: 900px) {
        font-size: 24px;
      }
    }
  }

  &__price-old {
    &.MuiTypography-root {
      font-family: $font-satoshi;
      font-weight: 700;
      font-size: 20px;
      text-decoration: line-through;
      color: rgba(0, 0, 0, 0.4);

      @media (min-width: 900px) {
        font-size: 24px;
      }
    }
  }

  &__discount {
    background-color: rgba(255, 51, 51, 0.1);
    color: #FF3333;
    font-family: $font-satoshi;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 62px;
  }
}